# pyc file not add
*.pyc

# dataset not save directly, just save file which download dataset file
cs231n/assignment1/cs231n/datasets/
cs231n/assignment2/cs231n/datasets/
cs231n/assignment3/cs231n/datasets/
DataSets/
